<h1>This is category</h1>


     <ul class="nav navbar-nav">
      <% for(i=0;i<menu.length;i++){%>
        <li>
          <a href="<%=menu[i].link%>"><%=menu[i].name%></a>
        </li>
      <%}%>
    </ul>